#para1_input_box_1{
width: 49%;
}
#para1_input_box_2{
    width: 49%;    
}
#para1_input_box_3{
    width: 49%;   
}
#para1_input_box_4{
    width: 49%; 
}
#para1_input_box_5{
    width: 49%; 
}
#para1_input_box_6{
    width: 49%;
}
body{
    text-align: center;
    background-color: aquamarine;
}